* {
  margin: 0px;
  padding: 0px;
}

.box {
  width: 600px;
  height: 70px;
  border: 2px solid rgb(140, 47, 57);
  border-radius: 15px;
  padding: 50px;
  margin: 75px;
  background-color: rgb(178, 58, 72);
  position: absolute;
  left: -30px;
  top: 100px;
}

.box2 {
  width: 600px;
  height: 70px;
  border: 2px solid rgb(140, 47, 57);
  border-radius: 15px;
  padding: 50px;
  margin: 75px;
  background-color: rgb(178, 58, 72);
  position: absolute;
  left: 710px;
  top: 100px;
}

.box3 {
  width: 600px;
  height: 70px;
  border: 2px solid rgb(140, 47, 57);
  border-radius: 15px;
  padding: 50px;
  margin: 75px;
  background-color: rgb(178, 58, 72);
  position: absolute;
  left: -30px;
  top: 330px;
}

.logo {
  width: 200px;
  height: 170px;
  position: absolute;
  border-radius: 15px 0px 0px 15px;
  left: 0px;
  top: 0px;
  border-right: 2px solid rgb(140, 47, 57);
}

.text {
  position: absolute;
  left: 33%;
  top: 15%;
  font-family: "", sans-serif;
}

.text-project {
  position: absolute;
  left: 33%;
  top: 38%;
  font-family: "Gill Sans", sans-serif;
}

.text-reward {
  position: absolute;
  left: 33%;
  bottom: 15%;
  font-family: "Gill Sans", sans-serif;
  font-weight: normal;
}

.redeemButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgb(234, 140, 85);
  border-color: rgb(140, 47, 57);
  border-radius: 10px;
  font-family: "Gill Sans", sans-serif;
  padding: 12px;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.textbox1 {
  position: absolute;
  top: 30.5%;
  left: 18%;
  width: 57.35%;
  border: 1px solid black;
  padding: 50px;
  margin: auto;
  background-color: rgb(178, 58, 72);
  position: absolute;
}

.rewardProject {
  position: absolute;
  left: 37.5%;
  top: 15%;
  font-family: "Gill Sans", sans-serif;
}

.rewardLabel {
  position: absolute;
  left: 36%;
  top: 55%;
  font-family: "Gill Sans", sans-serif;
  font-weight: normal;
}

.addButton {
  position: absolute;
  top: 24%;
  left: 50%;
  border: none;
  background-color: rgb(234, 140, 85);
  padding: 0.5em 1em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 5px gray;
}
