.container {
    max-width: 1200px;
    margin: 0px auto;
    overflow: auto;
    min-height: 200px;
    padding: 30px;
  }

.project-inner {
    width: 800px;
    display: flex;
    background: #f4f4f4;
    margin: 30px 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: left;
    border-width: 5px;
    border-style: solid;
    border-color:rgb(228, 156, 111);
}

.project-inner-sum {
    margin: 10px 20px;
}

.side-column {
margin: 10px 50px;
text-align: left;
text-indent: 30px;
}

.icon {
margin: 20px;
}