.project-dashboard {
  display: flex;
}

.project-inner {
  width: 800px;
  display: flex;
  background: rgb(252, 185, 178);
  margin: 30px 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: left;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(140, 47, 57);
}

.project-inner-sum {
  margin: 10px 20px;
}

.side-column {
  margin: 10px 50px;
  text-align: left;
  text-indent: 30px;
}

.icon {
  margin: 20px;
}

.dashboard_description {
  font-family: "Gill Sans", sans-serif;
}
