.project-dashboard {
  display: flex;
}

.project-inner {
  width: 800px;
  display: flex;
  background: rgb(252, 185, 178);
  margin: 20px 20px;
  padding: 8px 20px;
  text-align: left;
  border-radius: 15px;
  border: 3px solid rgb(140, 47, 57);
}

.project-inner-sum {
  margin: 10px 20px;
}

.side-column {
  margin: 10px 75px;
  text-align: left;
  text-indent: 30px;
}

.icon {
  margin-left: 60px;
}

.dashboard_description {
  font-family: "Gill Sans", sans-serif;
  margin-top: -10px;
  margin-bottom: 10px;
}

.project-image {
  border: 5px solid rgb(140, 47, 57);
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.dotted-line {
  padding-right: 20px;
  border-right: 8px dashed rgb(0, 0, 0);
  margin-right: 20px;
}