/*profile picture & business logo*/

.profile_picture_container {
  align-items: center;
  float: left;
  padding: 0.4%;
  background-color: white;
  position: absolute;
  left: 12.5%;
  top: 25%;
}

.label,
.picture {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  max-height: 300px;
  overflow: hidden;
}

.choose_file input[type="file"] {
  visibility: hidden;
}

.label {
  color: black;
  background-color: white;
  width: 10rem;
  padding: 5%;
  background-color: rgb(236, 146, 94);
  border-radius: 15px;
  border: 2px solid rgb(140, 47, 57);
}

/*Information Container*/

.general_info {
  background-color: rgb(252, 185, 178);
  border: 2px solid rgb(140, 47, 57);
  border-radius: 15px;
  padding: 30px;
  text-align: right;
  width: "auto";
  float: right;
  position: absolute;
  top: 60%;
  left: 8%;
  font-family: "Gill Sans", sans-serif;
  font-size: 1rem;
}

.general_info_business {
  background-color: rgb(252, 185, 178);
  border: 2px solid rgb(140, 47, 57);
  border-radius: 15px;
  padding: 40px;
  text-align: right;
  width: "auto";
  float: right;
  position: absolute;
  top: 65%;
  left: 16%;
  font-family: "Gill Sans", sans-serif;
  font-size: 1.2rem;
}

/*Information input*/

.general_info_input {
  font-family: "Gill Sans", sans-serif;
  padding: 2px;
  margin: 5px;
  font-size: 1rem;
  width: 15rem;
  flex: 1;
}

/*PFP or logo and info container*/

.main_container {
  align-content: center;
  display: flex;
  margin-top: 50px;
  margin-left: 300px;
}

/*Student Experience*/

.experience {
  width: 800px;
  height: 420px;
  border-radius: 15px;
  border: 2px solid rgb(140, 47, 57);
  padding: 30px;
  background-color: rgb(178, 58, 72);
  position: absolute;
  left: 36%;
  top: 25%;
}

.exp_title {
  font-family: "Gill Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.exp {
  text-align: left;
  background-color: rgb(252, 185, 178);
  border-radius: 1px;
  padding: 5px;
  font-family: "Gill Sans", sans-serif;
}

/*Business Pictures*/

.Pictures {
  width: 47rem;
  height: 200px;
  border-radius: 15px;
  padding: 30px;
  background-color: rgb(178, 58, 72);
  border: 2px solid rgb(140, 47, 57);
  position: absolute;
  left: 33%;
  top: 25%;
  display: flex;
}

.pic {
  margin-right: 10px;
  flex: 1;
  align-items: center;
  text-align: left;
  background-color: rgb(236, 146, 94);
  border-radius: 1px;
  padding: 5px;
  font-family: "Gill Sans", sans-serif;
}
